#canvasId {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

#wrapper {
    position: relative;
}

#gameUI {
    position: absolute;
    width: 800px;
    height: 600px;
    z-index: 2;
    top: 0px;
    left: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#resourcesBar ul {
    color: #FFFFFF;
    display: inline;
}

.button {
    padding: 5 5 5 10px;
    background-color: #5a76dc;
}

.button:hover {
    padding: 5 5 5 10px;
    background-color: #718ae4;
}

.button:active {
    padding: 5 5 5 10px;
    background-color: #2f3e72;
}

#actionsPanel {
    position: absolute;
    bottom: 0;
    background-color: rgba(122, 111, 175, 0.399)
}

#unitsPanel {
    display: none;
}

#buildPanel ul {
    max-width: 180px;
}